body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    width: 97%;
    font-size: 35px;
    text-align: right;
    margin-bottom: 20px;
    height: 80px; /* 高度增加一倍 */
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    background-color: #ddd;
    cursor: pointer;
    width: 100px;  /* 寬度為100px */
    height: 100px; /* 高度為100px，變成正方形 */
}

button:hover {
    background-color: #bbb;
}

/* 手機板模式 */
@media (max-width: 768px) {
    body {
        flex-direction: column;
        padding: 10px;
    }

    .calculator {
        padding: 15px;
        width: 85vw; /* 在手机上让计算器更宽 */
    }

    input {
        font-size: 8vw; /* 增大手机模式下的输入框字体 */
        height: 12vw;
    }

    button {
        font-size: 7vw; /* 调整按钮的字体大小 */
        width: 17vw;  /* 增加按钮宽度 */
        height: 17vw; /* 增加按钮高度 */
    }

    .buttons {
        gap: 3vw; /* 调整按钮间距 */
    }
}