body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    width: 97%;
    font-size: 35px;
    text-align: right;
    margin-bottom: 20px;
    height: 80px; /* 高度增加一倍 */
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    background-color: #ddd;
    cursor: pointer;
    width: 95px;  /* 寬度為100px */
    height: 95px; /* 高度為100px，變成正方形 */
}

button:hover {
    background-color: #bbb;
}

nav{
    width:70px;
    padding: 10px;
    text-align: center;
    background-color:rgb(170, 169, 168);
    cursor: pointer;
    font-weight: bold;
    font-family: 'DFKai-sb';
}

.help-container {
    text-align: center;
    margin-top: 50px;
    font-family: 'DFKai-sb';
}

.help-container h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.help-descript {
    margin-bottom: 10px;
    font-size: 20px;
}

.help-container button {
    font-size: 23px; /* 調整按鈕字體大小 */
    width: 15vw;  /* 增加按紐宽度 */
    height: 5vw; /* 增加按紐高度 */
    margin-top: 20px;
    padding: 10px 20px;

}

/* 手機板模式 */
@media (max-width: 768px) {
    body {
        flex-direction: column;
        padding: 10px;
    }

    .calculator {
        padding: 15px;
        width: 85vw; /* 在手機上讓計算機更寬 */
    }

    input {
        font-size: 8vw; 
        height: 12vw;
    }

    button {
        font-size: 7vw; /* 調整按鈕字體大小 */
        width: 17vw;  /* 增加按鈕寬度 */
        height: 17vw; /* 增加按鈕高度 */
    }

    .buttons {
        gap: 3vw; /* 調整按鈕间距 */
    }

    .help-container {
        margin-top: 30px;  /* 縮小頂部邊距 */
        padding: 15px;  /* 增加內部間距 */
    }

    .help-container h1 {
        font-size: 24px;  /* 減小標題字體大小 */
        margin-bottom: 15px;
    }

    .help-container p, .help-container ul {
        font-size: 16px;  /* 減小文字字體大小 */
        margin-bottom: 15px;
    }

    .help-container ul {
        padding-left: 20px;  /* 調整列表的縮進 */
    }

    .help-container button {
        font-size: 13px; /* 調整按鈕的字體大小 */
        width: 30vw;  /* 增加按鈕宽度 */
        height: 10vw; /* 增加按鈕高度 */

    }
}


