<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>使用說明</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="help-container">
        <h1>使用說明</h1>
        <div class="help-descript">您除了可以直接點擊畫面的數字以及運算符號，還可以利用電腦鍵盤進行計算</div>
        <div class="help-descript">數字鍵盤可直接輸入數字及運算符號</div>
        <div class="help-descript">平方操作請按 <strong>P</strong> 鍵</div>
        <div class="help-descript">根號操作請按 <strong>R</strong> 鍵</div>
        <div class="help-descript">等於操作請按 <strong>Enter</strong> 鍵</div>
        <div class="help-descript">清除操作請按 <strong>Esc</strong> 鍵</div>
        <div class="help-descript">其餘操作與數字鍵盤一致</div>
            
            
            
            
        
        <button onclick="window.location.href='/'">返回計算機</button>
    </div>
</body>
</html>
