<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python 計算機</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div style="display: block;">
        <nav onclick="window.location.href='/help'">使用說明</nav>  
        <div class="calculator">
            <!-- 顯示數學表達式和結果的輸入框 -->
            <input type="text" id="expression" disabled>
            <!-- 計算機的按鈕 -->
            <div class="buttons">
                <button onclick="clearExpression()">C</button>
                <button onclick="calculate('square')">x<sup>2</sup></button>
                <button onclick="calculate('sqrt')">√</button>
                <button onclick="appendToExpression('+')">+</button>
                <button onclick="appendToExpression('7')">7</button>
                <button onclick="appendToExpression('8')">8</button>
                <button onclick="appendToExpression('9')">9</button>
                <button onclick="appendToExpression('-')">-</button>
                <button onclick="appendToExpression('4')">4</button>
                <button onclick="appendToExpression('5')">5</button>
                <button onclick="appendToExpression('6')">6</button>
                <button onclick="appendToExpression('*')">*</button>
                <button onclick="appendToExpression('1')">1</button>
                <button onclick="appendToExpression('2')">2</button>
                <button onclick="appendToExpression('3')">3</button>
                <button onclick="appendToExpression('/')">/</button>
                <button onclick="appendToExpression('00')">00</button>
                <button onclick="appendToExpression('0')">0</button>
                <button onclick="appendToExpression('.')">.</button>
                <button onclick="calculate('=')">=</button>
            </div>

        </div>
    </div>



    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
